block content
  - style = `height: ${height ? height + "px" : "100%"}`;
  if status_ === 'error'
    .g-histogram.g-histogram-error(style=style)
      span.icon-cancel
      .g-histogram-error-message.g-validation-failed-message
  else if status_ === 'loading'
    .g-histogram.g-histogram-loading(style=style)
      span.icon-spin3.animate-spin
  else
    .g-histogram(style=style)
      - var max = Math.max.apply(Math, hist)
      - var scale = max ? 100/max : 1
      each n, index in hist
        - var bin = index + 1
        - var range = binEdges[index]
        if hist.length !== binEdges.length
          - range = `${range}–${binEdges[bin]}`
        - var excludeClass = 'exclude'
        if ( excludedBins.indexOf(index) < 0 )
          - excludeClass = ''
        - var color = 'rgba(0,0,0,1)'
        if (colormap)
          - var colorIndex = Math.round((index + label)*255/(hist.length + label))
          - color = `rgba(${colormap[colorIndex][0]},${colormap[colorIndex][1]},${colormap[colorIndex][2]},1)`
        .g-histogram-bar(class=excludeClass, style=`background: linear-gradient(rgba(0,0,0,0) ${100 - scale*n}%, ${color} ${100 - scale*n}%)`, id=`g-histogram-bar-${index}`, data-toggle="tooltip", title=`bin: ${bin} n: ${n} ${range}`, i=index)
